.scroll-menu-box {
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
}

.scroll-menu-list {
	position:absolute;
	left:0;
	top:0px;
	-webkit-transition: left 1s;
	transition: left 1s;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.scroll-menu-list > li{
	display: inline-block;
}

.scroll-menu-list > li {
	width:70px;
	padding: 1px;
	margin:3px;
}

.scroll-menu-list > li:hover {
	background: #FFF;
}
